  .h1{
   color: black;
   font: arial;
   font-size: 40px;
   text-align: center;
  }
  .runtext{
   color: gray;
   font: arial;
   font-size: 24px;
   font-style: italic;
  }
  .h2{
   color: black;
   font: arial;
   font-size: 30px;
   text-align: right;
  }
  .clock1{
   color: black;
   font: calibri;
   font-size: 25px;
   text-align: right;
  }
  .clocktext{
   margin: 0;
   padding: 0;
  }
  .dropbutton{
   background-color: #3D9DBA;
   color: white;
   font-size: 8px;
   font: arial;
  }
  .dropbutton:hover, .dropbutton:focus{
   background-color: #2980B9;
  }
  .dropdown{
   position: relative;
   display: inline-block;
  }
  .dropdown-content{
   display: none;
   position: absolute;
   background-color: #f1f1f1;
  }
  .dropdown-content a{
   color: black;
   padding: 16px 20px;
   text-decoration: none;
   display: block;
  }
  .dropdown-content a:hover{
   background-color: #ddd;
  }
  .show{
   display: block;
  }
